body {
  margin: 0;
  font-family: cursive ;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #208bcd, #ee19f1);
  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
  transition:background-color 0.5s ease, color 0.5s ease;
}
.glass-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
}

code {
  font-family: 'poppins';
}

.navbar {
  background: linear-gradient(135deg, #208bcd, #b640e1);
}

h4 {
  color: #b3cac5;
}
p {
  color: #b3cac5;
}